@{
    ViewBag.Title = ViewBag.Header = "Список типов угля";
}

<h4 class="text-center">@ViewBag.Header</h4>


@* Вывод коллекции сведений о типах угля *@
<table id="table" class="table table-bordered table-hover w-75 mx-auto">
    <thead>
        <tr class="bg-light text-black align-middle">
            <th class="text-end">Ид</th>
            <th>Тип угля</th>
            <th class="text-center">
                <a class="btn btn-outline-success ms-2"
                   asp-controller="References"
                   asp-action="AddCoalType"
                   title="Добавить...">
                    <i class="bi bi-plus-square"></i>
                </a>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var type in Model)
        {
            <tr class="align-middle">
                <td class="text-end">@type.Id</td>
                <td class="px-5">@type.TypeName</td>
                <td class="text-center">
                    <a class="btn btn-outline-primary ms-2"
                       asp-controller="References"
                       asp-action="UpdateCoalTypeById"
                       asp-route-id="@type.Id" title="Изменить...">
                        <i class="bi bi-pencil-square"></i>
                    </a>
                    <a class="btn btn-outline-danger ms-2"
                       asp-controller="References"
                       asp-action="DeleteCoalTypeById"
                       asp-route-id="@type.Id" title="Изменить...">
                        <i class="bi bi-trash3"></i>
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>
