@model IEnumerable<Kursavaya_ASP.Models.Dto.UserShow>
@{
    ViewBag.Title = ViewBag.Header = "Пользователи";
}

<h4 class="text-center">@ViewBag.Header</h4>


@* Вывод коллекции сведений о пользователях *@
<table id="table" class="table table-bordered table-hover w-100 mx-auto">
    <thead>
        <tr class="bg-light text-black align-middle">
            <th>Логин</th>
            <th>Роль</th>
            <th>Отделение</th>
            <th class="text-center">
                <a class="btn btn-outline-success ms-2"
                   asp-controller="Users"
                   asp-action="Registration"
                   title="Регистрация пользователя...">
                    <i class="bi bi-plus-square"></i>
                </a>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr class="align-middle">
                <td class="px-5">@user.Login</td>
                <td class="px-5">@user.Role</td>
                <td class="px-5">@user.Department</td>
                <td class="text-center">
                    <a class="btn btn-outline-primary ms-2"
                       asp-controller="Users"
                       asp-action="UpdateById"
                       asp-route-id="@user.Id" title="Изменить...">
                        <i class="bi bi-pencil-square d-none"></i>
                    </a>
                    <a class="btn btn-outline-danger ms-2"
                       asp-controller="Users"
                       asp-action="DeleteById"
                       asp-route-id="@user.Id" title="Удалить...">
                        <i class="bi bi-trash3 d-none"></i>
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>

